*.pyc
*.h5
*.pdf
*.DS_Store
*.cache
*__pycache__
tests/data_out/*
#examples/data/output/wav/*
#examples/data/output/features/*
#examples/data/output/vad/*
#examples/data/output/h5/*

#*.swp


#temp/*
dist/*
build/*
#keras/datasets/data/*
#keras/datasets/temp/*
#docs/site/*
#docs/theme/*
#tags
#Keras.egg-info

# test-related
#.coverage
#.cache

# developer environments
#.idea
tools/anaconda3.5
tools/anaconda3
tools/apex
tools/adversarial-robustness-toolbox
tools/cudnn-*
tools/kaldi
tools/nccl_*
tools/path.sh
tools/sph2pipe_*

rirs_noises.zip
RIRS_NOISES
egs/*/*/exp
egs/*/*/data


# some dummy file names
kk
qq
1.sh
2.sh
3.sh
4.sh
5.sh
10.sh
11.sh
30.sh
30.*.sh
40.sh
