torch>=1.9.0
numpy>=1.18.1
h5py>=2.10.0
pysoundfile>=0.9.0
matplotlib>=3.1.3
pandas>=1.0.1
scikit-learn>=0.22.1
scipy>=1.4.1
sphinx_rtd_theme>=0.4.3
pympler
memory_profiler
gdown
fairscale==0.4.4
tensorboard>=2.5.0
yapf
jsonargparse>=3.5.0
wandb>=0.10.30
librosa>=0.8.1
black
twine
wheel
