sphinx>=7,<9
sphinx_rtd_theme>=2,<4
sphinxcontrib-spelling>=8,<9
numpy>=1.26,<2.0
pandas>=2.1,<2.3
scipy>=1.11,<1.13
h5py>=3.11,<4.0
jsonargparse>=3.5.0
matplotlib>=3.7,<3.11
scikit-learn>=1.4,<1.6
tqdm>=4.0
